<!DOCTYPE html>
<html lang="en">
<head>
  {{>headlinks}}

</head>
<body> 
    {{>navbar}}


    <!-- main header -->
    <div class="container-fluid main_header">
      <div class="row">
          <div class="col-md-10 col-12 mx-auto">
            <div class="row">
              
              <div class="col-md-12 col-12 main_header_left align-items-center">
                <figure>
                    <img src="images/404error.jfif" alt="about" class="img-fluid">
                </figure>
              
                <p>Welcome to MERN STACK WORLD</p>
                <h1>{{errmsg}}</h1>
                <a href="/" target="_jafar"><button>HOME</button></a>
              </div>

          </div>
          </div>
      </div>
    </div> 
    
    <!-- footer code -->
    {{>footer}}

</body>
</html>